<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.ChukushouliDao">

	<resultMap type="com.llhc.mfsa.entity.SerialInfo" id="serialMapper">
		<result property="serialNum" column="serial_num"></result>
		<result property="operation" column="operation"></result>
		<result property="state" column="state"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="kgyId" column="kgy_id"></result>
		<result property="count" column="count"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="ywyName" column="real_name"></result>
	</resultMap>
	<resultMap type="com.llhc.mfsa.entity.PaperInfo" id="paperMap">
		<id property="id" column="id"></id>
		<result property="danganNum" column="dangan_num"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="wupinId" column="wupin_id"></result>
		<result property="fileNum" column="file_num"></result>
		<result property="qianfengDate" column="qianfeng_date"></result>
		<result property="daoqiDate" column="daoqi_date"></result>
		<result property="fuzeren" column="fuzeren"></result>
		<result property="kehujingli" column="kehujingli"></result>
		<result property="dianhua" column="dianhua"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="wupinName" column="wupin_name"></result>
	</resultMap>
	
	<select id="selectSerialList" resultMap="serialMapper">
		select s.*,d.bumen_name,u.real_name
		from serial_info s left join departments d
		on s.bumen_id = d.id
		left join users_info u
		on u.id = s.ywy_id
		where operation = 2 and state = 1;
	</select>
	
	<select id="selectPaperList" resultMap="paperMap">
		select p.*,d.bumen_name,i.wupin_name
		from papers_info p left join storage_info st
		on p.file_num = st.file_num
		left join serial_info se
		on st.out_serial = se.serial_num
		left join departments d
		on p.bumen_id = d.id
		left join items i
		on p.wupin_id = i.id
		where se.serial_num in
		<foreach item="serialNum" index="index" collection="list" open="(" separator="," close=")">  
  		#{serialNum} 
  		</foreach>
	</select>
	
	<update id="updateStorage" parameterType="StorageInfo">
		update storage_info
		set kgyout_id = #{kgyoutId},out_date=NOW(),kucun_state=0,u_date=NOW()
		where out_serial = #{outSerial};
	</update>
	
	<update id="updateSerial" parameterType="com.llhc.mfsa.vo.ChukushouliParam">
		update serial_info
		set state = 2,kgy_id = #{kgyId},u_date=NOW()
		where serial_num in
		<foreach item="serialNum" index="index" collection="serialNum" open="(" separator="," close=")">  
  		#{serialNum} 
  		</foreach>
	</update>

</mapper>