<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.ChukushouliDao">

	<resultMap type="com.llhc.mfsa.entity.SerialInfo" id="serialMapper">
		<result property="serialNum" column="serial_num"></result>
		<result property="operation" column="operation"></result>
		<result property="state" column="state"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="kgyId" column="kgy_id"></result>
		<result property="count" column="count"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="ywyName" column="real_name"></result>
	</resultMap>
	<resultMap type="com.llhc.mfsa.entity.FileInfo" id="fileMap">
		<id property="id" column="id"></id>
		<result property="fileNum" column="file_num"></result>
		<result property="custId" column="cust_id"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="fileName" column="file_name"></result>
		<result property="qianfengDate" column="qianfeng_date"></result>
		<result property="mId" column="m_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="custName" column="name"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="mName" column="m_name"></result>
		<result property="ywyName" column="real_name"></result>
		<result property="kucunState" column="kucun_state"></result>
		<result property="position" column="position"></result>
	</resultMap>
	
	<select id="selectSerialList" resultMap="serialMapper">
		select s.*,d.bumen_name,u.real_name
		from serial_info s left join departments d
		on s.bumen_id = d.id
		left join users_info u
		on u.id = s.ywy_id
		where operation = 2 and state = 1;
	</select>
	
	<select id="selectPaperList" resultMap="fileMap">
		select p.*,u.real_name,s.position,c.name
		from files_info p left join storage_info s
		on p.file_num = s.file_num
		left join users_info u
		on p.ywy_id = u.id
		left join cust_info c
		on p.cust_id = c.id
		where s.out_serial in
		<foreach item="serialNum" index="index" collection="list" open="(" separator="," close=")">  
  		#{serialNum} 
  		</foreach>
	</select>
	
	<update id="updateStorage" parameterType="com.llhc.mfsa.vo.ChukushouliParam">
		update storage_info
		set kgyout_id = #{kgyId},out_date=NOW(),kucun_state=0,u_date=NOW()
		where out_serial in
		<foreach item="serialNum" index="index" collection="serialNum" open="(" separator="," close=")">  
  		#{serialNum}
  		</foreach>
	</update>
	
	<update id="updateSerial" parameterType="com.llhc.mfsa.vo.ChukushouliParam">
		update serial_info
		set state = 2,kgy_id = #{kgyId},u_date=NOW()
		where serial_num in
		<foreach item="serialNum" index="index" collection="serialNum" open="(" separator="," close=")">  
  		#{serialNum} 
  		</foreach>
	</update>

</mapper>