<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.KhcxDao">

	<resultMap type="com.llhc.mfsa.entity.CustInfo" id="custMap">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="idNum" column="id_num"></result>
		<result property="phone" column="phone"></result>
	</resultMap>
	
	<select id="queryCust" parameterType="com.llhc.mfsa.vo.KhcxParam" resultMap="custMap">
		SELECT * FROM cust_info
		<where>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="idNum!=null and idNum!=''">
				and id_num = #{idNum}
			</if>
			<if test="phone!=null and phone!=''">
				and phone = #{phone}
			</if>
		</where>
	</select>
	<select id="queryids" parameterType="Integer" resultType="Integer">
		SELECT id FROM files_info where cust_id=#{cid}
	</select>
	
</mapper>