<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.KhtjDao">

	<insert id="addCust" parameterType="com.llhc.mfsa.vo.KhtjParam" >
		insert into cust_info (name,id_num,phone)
		values(#{name},#{idNum},#{phone});
	</insert>
	
</mapper>