<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.QianfengDao">

	<resultMap type="com.llhc.mfsa.entity.PaperInfo" id="qianfengMap">
		<id property="id" column="id"></id>
		<result property="danganNum" column="dangan_num"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="wupinId" column="wupin_id"></result>
		<result property="fileNum" column="file_num"></result>
		<result property="qianfengDate" column="qianfeng_date"></result>
		<result property="daoqiDate" column="daoqi_date"></result>
		<result property="fuzeren" column="fuzeren"></result>
		<result property="kehujingli" column="kehujingli"></result>
		<result property="dianhua" column="dianhua"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="wupinName" column="wupin_name"></result>
	</resultMap>
	
	<!-- 查询表中全部记录 -->
	<select id="selectPaperList" resultMap="qianfengMap">
		select p.*,d.bumen_name,i.wupin_name
		from papers_info p left join departments d
		on p.bumen_id = d.id
		left join items i
		on p.wupin_id = i.id
	</select>
	<!-- 添加 -->
	<insert id="insertPaper" parameterType="PaperInfo" >
		insert into papers_info (dangan_num,bumen_id,wupin_id,file_num,qianfeng_date,daoqi_date,fuzeren,kehujingli,dianhua,ywy_id)
		values(#{danganNum},#{bumenId},#{wupinId},#{fileNum},#{qianfengDate},#{daoqiDate},#{fuzeren},#{kehujingli},#{dianhua},#{ywyId});
	</insert>
	<insert id="insertFile" parameterType="StorageInfo" >
		insert into storage_info (file_num,ywyin_id)
		values(#{fileNum},#{ywyinId});
	</insert>
	
</mapper>