<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.QianfengDao">

	<resultMap type="com.llhc.mfsa.entity.FileInfo" id="qianfengMap">
		<id property="id" column="id"></id>
		<result property="fileNum" column="file_num"></result>
		<result property="custId" column="cust_id"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="fileName" column="file_name"></result>
		<result property="qianfengDate" column="qianfeng_date"></result>
		<result property="mId" column="m_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="custName" column="name"></result>
		<result property="mName" column="real_name"></result>
		<result property="ywyName" column="real_name"></result>
	</resultMap>
	
	<select id="checkout" parameterType="String" resultMap="qianfengMap">
		select *
		from files_info
		where file_num = #{fileNum};
	</select>
	<select id="queryId" parameterType="String" resultType="Integer">
		select id
		from cust_info
		where name = #{name};
	</select>
	<select id="queryMId" parameterType="String" resultType="Integer">
		select id
		from managers_info
		where m_name = #{name};
	</select>
	<!-- 添加 -->
	<insert id="insertFile" parameterType="FileInfo" >
		insert into files_info (file_num,cust_id,bumen_id,file_name,qianfeng_date,m_id,ywy_id)
		values(#{fileNum},#{custId},#{bumenId},#{fileName},#{qianfengDate},#{mId},#{ywyId});
	</insert>
	<insert id="insertStorage" parameterType="StorageInfo" >
		insert into storage_info (file_num,ywyin_id)
		values(#{fileNum},#{ywyinId});
	</insert>
	<update id="updateStorage" parameterType="StorageInfo">
		update storage_info
		set ywyin_id = #{ywyinId},in_serial=NULL,u_date=NOW()
		where file_num = #{fileNum};
	</update>
	
</mapper>