<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llhc.mfsa.dao.RukushouliDao">

	<resultMap type="com.llhc.mfsa.entity.SerialInfo" id="serialMapper">
		<result property="serialNum" column="serial_num"></result>
		<result property="operation" column="operation"></result>
		<result property="state" column="state"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="kgyId" column="kgy_id"></result>
		<result property="count" column="count"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="ywyName" column="real_name"></result>
	</resultMap>
	<resultMap type="com.llhc.mfsa.entity.FileInfo" id="fileMap">
		<id property="id" column="id"></id>
		<result property="fileNum" column="file_num"></result>
		<result property="custId" column="cust_id"></result>
		<result property="bumenId" column="bumen_id"></result>
		<result property="fileName" column="file_name"></result>
		<result property="qianfengDate" column="qianfeng_date"></result>
		<result property="mId" column="m_id"></result>
		<result property="ywyId" column="ywy_id"></result>
		<result property="custName" column="name"></result>
		<result property="bumenName" column="bumen_name"></result>
		<result property="mName" column="m_name"></result>
		<result property="ywyName" column="real_name"></result>
		<result property="kucunState" column="kucun_state"></result>
		<result property="position" column="position"></result>
	</resultMap>

	<select id="selectSerialList" resultMap="serialMapper">
		select s.*,d.bumen_name,u.real_name
		from serial_info s left join departments d
		on s.bumen_id = d.id
		left join users_info u
		on u.id = s.ywy_id
		where operation = 1 and state = 1;
	</select>
	<select id="selectPaperList" parameterType="String" resultMap="fileMap">
		select p.*,d.bumen_name ,m.m_name,c.name
		from files_info p left join storage_info st
		on p.file_num = st.file_num
		left join serial_info se
		on st.in_serial = se.serial_num
		left join departments d
		on p.bumen_id = d.id
		left join managers_info m
		on p.m_id = m.id
		left join cust_info c
		on p.cust_id = c.id
		where se.serial_num = #{serialNum};
	</select>
	<select id="selectFile" parameterType="String" resultMap="fileMap">
		select id,bumen_id from files_info
		where file_num=#{fileNum}
	</select>
	
	<update id="updateStorage" parameterType="StorageInfo">
		update storage_info
		set position=#{position},kgyin_id = #{kgyinId},in_date=NOW(),kucun_state=1,u_date=NOW()
		where file_num = #{fileNum};
	</update>
	<update id="updateSerial" parameterType="SerialInfo">
		update serial_info
		set state = 2,kgy_id = #{kgyId},u_date=NOW()
		where serial_num = #{serialNum};
	</update>
	
</mapper>